<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model:value="newName">
        <button onclick="vm.add()">{{ add }}</button>
        <ul>
            <li v-for="(item,index) in user" :key="item.id">
                {{ item.name }}
                <button onclick="vm.edit()">Edit</button> ||
                <button onclick="vm.delete()">Delete</button>
            </li>
        </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el : '#app',
            data: {
                    add: "add",
                    newName: "",
                    user: [
                    {
                     name: "Muhammad Iqbal Mubarok"
                    },
                     {
                     name: "Ruby Purwanti"
                    },
                    {
                     name: "Faqih Muhammad"
                        }
                    ],
                    dataLama : {name:''}
                    },
            computed: {

            },
            methods: {
                add : function(){
                    this.user.push({'name':this.newName})
                    this.newName = ""
                },
                edit : function(){
                    this.add = "update"
                    this.newName = item.name
                },
                delete : function(){
                    
                    this.user.slice(2)
                }
            },

        })
    </script>
</body>
</html>